@{
    Layout = null;    
}
<div class="rbox">
    <div class="paihang">
        <h2 class="hometitle">点击排行</h2>
        <ul>
            @foreach (SkyBlog.Models.DbModel.news item in ViewBag.TopNewsList)
            {
             <li>               
                    <b><a href="/blog/@ViewBag.Index/news/@item.id" target="_blank">@item.title</a></b>
                    <p>@if(!string.IsNullOrEmpty(item.image)){<i><img src="@item.image" /></i>}@item.description</p>
             </li>
            }           
        </ul>
    </div>
    <div class="paihang">
        <h2 class="hometitle">本栏推荐</h2>
        <ul>          
            @foreach (SkyBlog.Models.DbModel.news item in ViewBag.RecommendNewsList)
            {                         
             <li>           
                    <b><a href="/blog/@ViewBag.Index/news/@item.id" target="_blank">@item.title</a></b>
                    <p>@if(!string.IsNullOrEmpty(item.image)){<i><img src="@item.image" /></i>}@item.description</p>
             </li>
            }
        </ul>
    </div>
    <div class="weixin">
        <h2 class="hometitle">官方微信</h2>
        <ul>
            <img src="/images/wx.png">
        </ul>
    </div>  
</div>
