<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logfiles/internal-nlog.txt">

  <!--define various log targets-->
  <targets>

    <default-wrapper xsi:type="BufferingWrapper" bufferSize="100" FlushTimeout="10000">
      <wrapper-target xsi:type="AsyncWrapper"/>
    </default-wrapper>   
  
    <!--错误日志-->
    <target xsi:type="File" name="ownFile-web" fileName="logfiles/error/nlog-ownFile-web-${shortdate}.log"
                 layout="${longdate}|${uppercase:${level}}|${message} ${exception}${newline}" />
    <!--普通信息日志-->
    <target xsi:type="File" name="ownFile-info-web" fileName="logfiles/info/nlog-ownFile-web-${shortdate}.log"
                layout="${longdate}|${uppercase:${level}}|${message} ${exception}${newline}" />
   <!--警告日志-->
    <target xsi:type="File" name="ownFile-warning-web" fileName="logfiles/warning/nlog-ownFile-web-${shortdate}.log"
                layout="${longdate}|${uppercase:${level}}|${message} ${exception}${newline}" />
    
    <!--send email config-->
    <target xsi:type="Mail" name="infoMail"
            smtpServer="smtp.163.com"
            smtpPort="25"
            smtpAuthentication="Basic"
            smtpUserName="发送邮箱"
            smtpPassword="发送邮箱密码"
            enableSsl="false"
            addNewLines="true"
            from="发送邮箱"
            to="接收邮箱"
            subject="博客站错误日志"
            header="记录时间：${longdate}"
            body="${newline}${message}${newline}"
            footer="博客站错误日志" />
    
    <target xsi:type="Null" name="blackhole" />

  </targets>

  <rules>
    <!--All logs, including from Microsoft-
    <logger name="*" minlevel="Trace" writeTo="allfile" />-->

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Error" writeTo="ownFile-web" />
    <logger name="*" minlevel="Error" writeTo="infoMail" />
    <logger name="*" minlevel="Info" writeTo="ownFile-info-web" />
    <logger name="*" minlevel="Warn" writeTo="ownFile-warning-web" />
  </rules>


</nlog>
