@{
    ViewBag.Title = "关于张光智";
    Layout = "/Areas/Blog/Views/Shared/_MoreLayout.cshtml";
}

<div class="pagebg ab"> </div>
<div class="container">
  <h1 class="t_nav"><span>像“草根”一样，紧贴着地面，低调的存在，冬去春来，枯荣无恙。</span><a href="/" class="n1">网站首页</a><a href="/" class="n2">关于我</a></h1>
  <div class="news_infos">
    <ul>
      <p>一个90后程序猿！12年入行。一直潜心研究B/S技术，一边工作一边积累经验，分享一些个人博客源代码，以及技术心得。<br />
        <br />
        从入行这么些年来，一直在使用很多开源轮子，觉得很方便，但自己却没有为社区做点贡献，最近两年在技术方面有些心得，所以建立
        自己的博客与大家交流技术，并开源，希望能为社区做点什么。。。以下是开源地址：<br>
        1.博客程序blog <br>https://github.com/chnzhang/blog<br><br>
        2.提交参数分组验证NetDataAnnotations <br>https://github.com/chnzhang/NetDataAnnotations<br><br>
        3.消息队列NetRabbitMQ <br>https://github.com/chnzhang/NetRabbitMQ
        <br />
        <br />
        希望更多的朋友加入到开源的队伍中来，为社区作贡献，也是锻炼自己的机会，做更出色的产品。
        <br />
        <br />        
        QQ群：248395506，如果你想加入我们，这个大家庭的门，永远给你敞开！</p>
      <br />
      <h2>About my blog</h2>
      &nbsp;
      <p>域 名：www.zgzblog.com 创建于2017年12月16日&nbsp;</p>
      <br />
      <p>服务器：阿里云服务器&nbsp;&nbsp;<a href="https://promotion.aliyun.com/ntms/act/ambassador/sharetouser.html?userCode=8smrzoqa&amp;productCode=vm" target="_blank"><span style="color:#FF0000;"><strong>前往阿里云官网购买&gt;&gt;</strong></span></a></p>
      <br />
      <p>备案号：蜀ICP备18013582号</p>
      <br />
      <p>程 序：CentOS7 .NET Core MySql EFCore Ngnix</p>
    </ul>
  </div>
  <div class="sidebar">
    <div class="about">
      <p class="avatar"> <img src="/blog/skin/more/images/avatar.jpg" alt=""> </p>
      <p class="abname">jack | 张光智</p>
      <p class="abposition">.NET软件工程师</p>
      <p class="abtext"> 一个90后程序猿！12年入行。一直潜心研究B/S技术，一边工作一边积累经验，分享一些个人博客源代码，以及技术心得。 </p>
    </div>
    <div class="weixin">
      <h2 class="hometitle">微信关注</h2>
      <ul>
        <img src="/blog/skin/default/images/wx.png">
      </ul>
    </div>
  </div>
</div>